@import 'fonts.css';
@import 'less/header.css';
@import 'less/services.css';
@import 'less/team.css';
@import 'less/skills.css';
@import 'less/portfolio.css';
@white-text: #ffffff;
@black-text: #393939;
@height-footer-and-header: 200px;
@section-top: 120px;

body {
    background: #fff;
    font-family: TitilliumWeb, sans-serif;
    // .wrapper {
    //     padding-left: 200px;
    //     padding-right: 200px;
    // }

    .section__title {
        position: relative;
        margin: 0 0 30px 0;
        padding: 0 0 20px 0;
    }
    .section__title:after {
        left: 0;
        right: 0;
        bottom: 0;
        width: 63px;
        height: 4px;
        content: '';
        margin: auto;
        background: #14a58c;
        position: absolute;
    }
    .section-about {
        background: #d74680;
        .section__title:after {
            background: #b73c6d;
        }
    }
    .section-form {
        background: #3c5499;
        .section__title:after {
            background: #273a71;
        }
    }
    #footer {
        height: @height-footer-and-header;
        text-align: center;
        background: #344b8e;
        padding-left: 170px;
        padding-right: 170px;
    }
}

.container {
    margin: 0 auto;
}
section {
    height: 750px;
    text-align: center;
    padding-left: 170px;
    padding-right: 170px;
}
.white-text {
    color: @white-text;
    font-weight: bold;
    font-size: 40px;
}
.black-text {
    color: @black-text;
    font-weight: bold;
    font-size: 40px;
}