@height-footer-and-header: 200px;

#footer {
    height: @height-footer-and-header;
    text-align: center;
    background: #344b8e;
    height: 110px;
    .footer {
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        a {
            font-size: 24px;
            font-weight: 500;
            color: #ffffff;
        }
        a:hover {
            color: #30bae7;
            text-decoration: none;
        }
        a:visited {
            text-decoration: none;
        }
    }
}