@white-text: #ffffff;
@black-text: #393939;
@height-footer-and-header: 200px;

.header {
    height: 600px;
}
#header {
    height: @height-footer-and-header;
    background: #87509c;
    display: flex;
    justify-content: space-around;
    img {
        margin-left: 180px;
        margin-top: 58px;
    }
    nav {
        margin-top: 58px;
        margin-right: 200px;
        width: 444px;
        ul {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            li {
                list-style-type: none;
                font-size: 16px;
                color: @white-text;
                padding: 10px;
                a {
                    color: #ffffff;
                }
                a:hover {
                    text-decoration: none;
                }
                a:visited {
                    color: #ffffff;
                }
            }
            li:hover {
                background: #643a79;
                border-radius: 5px;
            }
        }
    }
}
.section-work {
    background: #87509c;
    .button {
        margin: auto;
        margin-top: 60px;
        background: #eb7d4b;
        padding: 30px 80px;
        width: 290px;
        border-radius: 7px;
        border: solid #c86a40 4px;
        border-left: none;
        border-top: none;
        cursor: pointer;
        a {
            color: #ffffff;
            font-size: 16px;
            text-decoration: none;
        }
    }
    .button:active {
        border: solid #714f82 4px;
        border-right: none;
        border-bottom: none;
        padding: 30px 80px;
    }
}
@media screen and (max-width: 1540px) {
    .section-work {
        padding-left: 100px;
        padding-right: 100px;
        height: 700px;
    }
}
@media screen and (max-width: 991px) {
    .section-work {
        padding-top: 50px;
        padding-left: 0px;
        padding-right: 0px;
        height: 800px;
    }
}
@media screen and (max-width: 767px) {
    .section-work {
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        height: 1200px;
    }
    .header {
        height: 800px;
    }
}