.header {
  padding-top: 0px;
}
#header {
  background: #87509c;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 80px;
  opacity: 0.5;
}
#header:hover {
  opacity: 1;
}
#header .container img {
  margin-left: 10%;
  margin-top: 30px;
}
#header .menu-btn {
  margin-right: 10%;
  margin-top: 30px;
}
#header .menu-btn img {
  height: 45px;
  width: 45px;
  display: none;
}
#header nav {
  margin-top: 30px;
  margin-right: 10%;
  width: auto;
}
#header nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#header nav ul li {
  list-style-type: none;
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
}
#header nav ul li a {
  color: #ffffff;
}
#header nav ul li a:hover {
  text-decoration: none;
}
#header nav ul li:hover {
  background: #643a79;
  border-radius: 15px;
}
.section-work {
  background: #87509c;
  padding-top: 80px;
}
.section-work .container {
  padding-top: 80px;
}
.section-work .button {
  font-size: 18px;
  margin: auto;
  margin-top: 80px;
  padding: 18px 52px;
  background: #eb7d4b;
  width: 290px;
  border-radius: 5px;
  border: solid #c86a40 4px;
  border-left: none;
  border-top: none;
  cursor: pointer;
}
.section-work .button a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}
.section-work .button:active {
  border: solid #714f82 4px;
  border-right: none;
  border-bottom: none;
}
@media screen and (max-width: 1540px) {
  .section-work {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 991px) {
  .section-work {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .section-work {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #header .menu-btn img {
    display: block;
  }
  #header nav {
    display: none;
  }
}
