.section-services {
  background: #17c2a4;
  padding-top: 120px;
  padding-bottom: 60px;
}
.section-services a {
  font-size: 18px;
  color: #ffffff;
}
.section-services a:hover {
  text-decoration: none;
}
.section-services .row-own {
  width: 100%;
  margin-top: 84px;
  color: #ffffff;
}
.section-services .row-own .col-sm-6 {
  color: #ffffff;
}
@media screen and (max-width: 1370px) {
  .section-services {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 991px) {
  .section-services {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .section-services {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
