@white-text: #ffffff;
@black-text: #393939;
@height-footer-and-header: 200px;
@section-top: 120px;

.section-team {
    height: 916px;
    background: #e7f1f8;
    padding-top: @section-top;
    padding-left: 170px;
    padding-right: 170px;
    .section__title:after {
        background: #c8d9e5;
    }
    .presc {
        color: #3c4761;
        font-size: 18px;
    }
    .row {
        margin-top: 80px;
        h3 {
            font-weight: bold;
            font-size: 24px;
        }
        .blue-text {
            font-size: 16px;
            color: #30bae7;
        }
        .description {
            font-size: 16px;
            color: #3c4761;
            margin-bottom: 30px;
        }
        .photo {
            width: 200px;
            height: 200px;
            border-radius: 100px;
            margin-bottom: 40px;
        }
    }
}

@media screen and (max-width: 1370px) {
    .section-team {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (max-width: 991px) {
    .section-team {
        padding-top: 50px;
        padding-left: 0px;
        padding-right: 0px;
        height: 1200px;
        .icons {
            padding-bottom: 20px;
        }
    }
}
@media screen and (max-width: 767px) {
    .section-team {
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        height: 2050px;
        .row {
            margin-top: 20px;
            .col-sm-6 {
                border: 2px solid grey;
            }
        }
    }
}